@font-face {
    font-family: "Futura_Md_BT_Medium"; src: url("fonts/Futura_Md_BT_Medium.ttf");
}
@font-face {
    font-family: "Open_Sans"; src: url("fonts/Open_Sans.ttf");
}
@font-face {
    font-family: "futura-t-light"; src: url("fonts/futura-t-light.ttf");
}
@font-face {
    font-family: "futura-md-bt-bold"; src: url("fonts/futura-md-bt-bold.ttf");
}

@font-face {
    font-family: "futura-t-med-italic"; src: url("fonts/futura-t-med-italic.ttf");
}
@font-face {
    font-family: "glyphicons-halflings-regular"; src: url("fonts/glyphicons-halflings-regular.ttf");
}


header {
    height: 116px;
    width: 1024px;
    margin: auto;
    position: relative;
}

.header_fixed{
    margin-left: auto;
    width: 1024px;
}
.company_name {
    margin: auto;
    font-family: 'Futura_Md_BT_Medium', sans-serif;
    font-size: 36px;
    line-height: 0.833;
    text-align: left;
    padding-top: 50px;
    float: left;
}

.company {
    color: rgb(238, 129, 41);
    font-weight: lighter;
}

.name {
    color: #3070a8;
    text-transform: uppercase;
    font-weight: bold;
}
.company_name:hover {
    cursor: pointer;
}
nav {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    font-family: 'Open_Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #989898;
    padding: 0 15px;
    padding-bottom: 16px;
    border-bottom: 4px solid #fff;
}

nav ul li:hover {
    border-bottom: 4px solid #3070a8;
    color: #3070a8;
    margin-bottom: -4px;
    cursor: pointer;
    transition: color 0.2s linear, border 0.2s linear;
}
.banner {
    height: 435px;
    background: url("images/main_banner.png");
    text-align: center;
    padding-top: 145px;
    color: #fff;
    position: relative;
    margin: auto;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
    background-position: center;
    background-repeat: no-repeat;
}

.banner h2, .banner h1, .banner p {
    margin: 0;
}

.banner h2 {
    font-family: 'futura-t-light', sans-serif;
    font-size: 36px;
    margin-top: 0;
}

.banner h1 {
    font-family: 'futura-md-bt-bold', sans-serif;
    font-size: 48px;
    margin-top: 10px;
    text-transform: uppercase;
}

.banner p {
    font-family: 'futura-t-med-italic', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 100;
}

.banner_button {
    width: 247px;
    height: 59px;
    margin-top: 35px;
    border: 1px solid #96a8ba;
    font: 600 16px 'Open_Sans', sans-serif;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
}
.services_wrap {
    height: 563px;
    margin: 60px auto 0 auto;
}

.services_title {
    position: relative;
    top: auto;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font: 22pt "Trebuchet MS";
    color: #41525c;
}

.services_all {
    position: relative;
    top: 90px;
    margin: 0 auto;
    text-align: center;
}

.services_block {
    display: inline-block;
    margin: 0 20px;
    padding: 0 0;
    width: 302px;
}

.icons {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background: url("");
    background-color: #3070a8;
    margin: 0 auto;
    position: relative;
    box-shadow: inset 3px 3px 0 3px #2b6598;
}

.icon_title {
    font: 22pt 'Futura_Md_BT_Medium', sans-serif;
    color: #3070a8;
    text-transform: uppercase;
    margin: 30px auto;
}

.icon_text {
    color: #999999;
    font: 12pt 'Open_Sans', sans-serif;
}



.middle {
    height: 496px;
    padding-top: 80px;
    margin: auto;
    background-image: url(images/middle_background.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    flex-flow: row wrap;

}

.middle h2 {
    font-family: 'Futura_Md_BT_Medium', sans-serif;
    font-size: 26px;
    color: #ee8129;
    text-transform: uppercase;
    margin:0;
    text-align: start;
    padding-left: 190px;
}

.middle p {
    font-family: 'Open_Sans', sans-serif;
    font-size: 22px;
    font-style: italic;
    color: #fff;
    margin: 19px 0 40px 0;
    padding-left: 190px;
}

.middle-list {
    list-style: disc;
    font-family: 'Open_Sans', sans-serif;
    font-size: 14px;
    color: #9d9d9d;
    line-height: 31px;
    padding-left: 190px;
}

.list-item {
    margin-top: 15px;
}

.list-item:nth-child(2) {
    color: #3070a8;
}

.pricing {
    text-align: center;
    font-family: Trebuchet, sans-serif;
    height: 700px;
}

.pricing h2 {
    color: #41525c;
    text-transform: uppercase;
    margin-top: 65px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 16px;
}

.price_box_blue,
.price_box_orange,
.price_box_green {
    position: relative;
    z-index: 1;
    vertical-align: top;

}

.price_box_blue h3,
.price_box_orange h3,
.price_box_green h3 {
    text-align: center;
}

.price_box_blue h3,
.price_box_blue ul,
.price_box_blue button {
    margin: auto;
    border: 0;
    padding: 0;
}
.price_box_blue {
    display: inline-block;
    padding: 0 0;
    -webkit-box-sizing: border-box; /*for Safari and Chrome*/
    -moz-box-sizing: border-box; /*for Firefox*/
    box-sizing: border-box; /*for IE and Opera*/
    width: 290px;
    height: 440px;
    border-radius: 5px;
    border: 1px solid #e8eaec;
    position: relative;
    left: -4%;
    margin: -125px 0 0 -125px;
    margin-top: 80px;
    overflow: hidden;

}

.price_box_blue {
    background-color: #2bc2d5;
}
.price_box_head_blue {
    margin-bottom: 0;
    height: 62px;
}
.price_box_head_blue h3 {
    color: white;
    font: 700 24px / 68px 'Trebuchet MS';
    text-align: center;
    text-transform: uppercase;
}
.price_box_body_blue h3 {
    color: #3f4042;
    font: 400 24px / 68px 'Trebuchet MS';
    text-transform: uppercase;
}
.price_box_body_blue {
    background-color: white;
    height: 355px;
    padding-bottom: 35px;
}
.price_box_text_blue {
    font-family: 'Trebuchet MS';
    color: #41525c;
    display: block;
    position: relative;
    text-align: center;
}
.price_box_text_sup {
    display: inline;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.8px;
    position: relative;
    bottom: 35px;
}
.price_box_text_big {
    display: inline;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -3.6px;
}
.price_box_text_sub {
    display: inline;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: 5px;
}

.price_box_list_blue {
    margin: 10px 14px 18px 14px;
    color: darkgray;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: left;
}
.price_box_list_blue li {
    list-style: none;
    background-color: #edf5fd;
    min-width: 255px;
    margin: 1px;
    padding: 8px 0 8px 0;
}
.price_box_list_blue li span {
    padding-left: 26px;
    margin-left: 33px;
    background: url(http://www.canguroencasa.com/Images/si.gif) 0 0 no-repeat;
}
.price_box_list_blue li:nth-child(even) {
    background-color: #f5f5f6;
}
.price_box_button_blue {
    display: block;
    width: 253px;
    height: 38px;
    box-shadow: 0px 3px 0px 0px #13426b;
    -webkit-box-shadow: 0px 3px 0px 0px #13426b;
    -moz-box-shadow: 0px 3px 0px 0px #13426b;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background: #3070a8;
}
.price_box_button_blue:active {
    -webkit-box-shadow: inset 2px 2px 0px 1px rgba(48, 112, 168, 1);
    -moz-box-shadow: inset 2px 2px 0px 1px rgba(48, 112, 168, 1);
    box-shadow: inset 2px 2px 0px 1px rgba(48, 112, 168, 1);
}
.price_box_button_blue:hover {
    cursor: pointer;
}

.price_box_orange h3,
.price_box_orange ul,
.price_box_orange button {
    margin: auto;
    border: 0;
    padding: 0;
}
.price_box_orange {
    display: inline-block;
    padding: 0 0;
    -webkit-box-sizing: border-box; /*for Safari and Chrome*/
    -moz-box-sizing: border-box; /*for Firefox*/
    box-sizing: border-box; /*for IE and Opera*/
    width: 290px;
    height: 467px;
    border-radius: 5px;
    border: 4px solid #ee8129;
    position: relative;
    left: 5%;
    margin: -125px 0 0 -125px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0px 0px 12.90px 0.15px rgba(8, 116, 178, 0.3);
    margin-top: 70px;

}
.orange {
    background-color: #ee8129;
}
.price_box_head {
    margin-bottom: 0;
    min-height: 77px;
}
.price_box_head_orange h3 {
    color: white;
    font: 700 24px / 68px 'Trebuchet MS';
    text-align: center;
    text-transform: uppercase;
}
.price_box_body_orange h3 {
    color: #3f4042;
    font: 400 24px / 68px 'Trebuchet MS';
    text-transform: uppercase;
}
.price_box_body_orange {
    background-color: white;
    min-height: 355px;
    padding-bottom: 35px;
}
.price_box_text_orange {
    font-family: 'Trebuchet MS';
    color: #41525c;
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
}
.price_box_list_orange {
    margin: 10px 14px 18px 14px;
    color: darkgray;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: left;
}
.price_box_list_orange li {
    list-style: none;
    background-color: #E6E6E6;
    min-width: 260px;
    margin: 1px;
    padding: 8px 0 8px 0;
}
.price_box_list_orange li span {
    padding-left: 26px;
    margin-left: 33px;
    background: url(http://www.canguroencasa.com/Images/si.gif) 0 0 no-repeat;
}
.price_box_list_orange .text_uppercase {
    text-transform: uppercase;
}

.price_box_list_orange li:nth-child(even) {
    background-color: #f5f5f6;
}
.price_box_button_orange {
    display: block;
    width: 253px;
    height: 38px;
    box-shadow: 0px 3px 0px 0px #b3560b;
    -webkit-box-shadow: 0px 3px 0px 0px #b3560b;
    -moz-box-shadow: 0px 3px 0px 0px #b3560b;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.price_box_button_orange:active {
    -webkit-box-shadow: inset 2px 2px 0px 1px rgba(179, 86, 11, 1);
    -moz-box-shadow: inset 2px 2px 0px 1px rgba(179, 86, 11, 1);
    box-shadow: inset 2px 2px 0px 1px rgba(179, 86, 11, 1);
}
.price_box_button_orange:hover {
    cursor: pointer;
}


.price_box_green h3,
.price_box_green ul,
.price_box_green button {
    margin: auto;
    border: 0;
    padding: 0;
}

.price_box_green {
    display: inline-block;
    padding: 0 0;
    position: relative;
    left: 14%;
    margin: -125px 0 0 -125px;
    margin-top: 80px;
    -webkit-box-sizing: border-box; /*for Safari and Chrome*/
    -moz-box-sizing: border-box; /*for Firefox*/
    box-sizing: border-box; /*for IE and Opera*/
    width: 290px;
    height: 440px;
    border-radius: 5px;
    border: 1px solid #e8eaec;
    overflow: hidden;
}

.price_box_green {
    background-color: #00b89a;
}
.price_box_head_green {
    margin-bottom: 0;
    height: 62px;
}
.price_box_head_green h3 {
    color: white;
    font: 700 24px / 68px 'Trebuchet MS';
    text-align: center;
    text-transform: uppercase;
}
.price_box_body_green h3 {
    color: #3f4042;
    font: 400 24px / 68px 'Trebuchet MS';
    text-transform: uppercase;
}
.price_box_body_green {
    background-color: white;
    height: 355px;
    padding-bottom: 35px;
}
.price_box_text_green {
    font-family: 'Trebuchet MS';
    color: #41525c;
    display: block;
    position: relative;
    text-align: center;
}
.price_box_text_sup {
    display: inline;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.8px;
    position: relative;
    bottom: 35px;
}
.price_box_text_big {
    display: inline;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -3.6px;
}
.price_box_text_sub {
    display: inline;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: 5px;
}

.price_box_list_green {
    margin: 10px 14px 18px 14px;
    color: darkgray;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: left;
}
.price_box_list_green li {
    list-style: none;
    background-color: #edf5fd;
    min-width: 255px;
    margin: 1px;
    padding: 8px 0 8px 0;
}
.price_box_list_green li span {
    padding-left: 26px;
    margin-left: 33px;
    background: url(http://www.canguroencasa.com/Images/si.gif) 0 0 no-repeat;
}
.price_box_list_green li:nth-child(even) {
    background-color: #f5f5f6;
}

.clients_section {
    position: relative;
    margin: auto;
    height: 315px;
    width: 100%;
    background-image: url(images/Background.png);
}

.comments {
    position: relative;
    margin: auto;
    width: 1024px;
    height: 100px;
    padding-top: 50px;
}

.what_client_says {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 0.45;
    text-align: center;
    padding-top: 50px;
    font-family: "Trebuchet MS";
}

.what {
    color: #ee8129;
}

.client_says {
    color: #3170a8;
}

.left,
.right {
    width: 490px;
    height: 100px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.speech_bubble {
    position: relative;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-right: 15px solid white;
    border-bottom: 11px solid transparent;
    float: right;
    top: 50%;
    margin-top: -15px;
}


.comment {
    width: 365px;
    height: 100%;
    background: white;
    float: right;
}

.title {
    height: 37px;
    width: 330px;
    border-bottom: 1px dotted #666666;
    margin-left: 15px;
}

.lead {
    margin: 0;
    line-height: 38px;
    height: 38px;
    font-size: 13px;
    color: #3070a8;
    font-family: "Trebuchet MS";
    font-style: italic;
}

.name {
    float: left;
}

.status {
    float: right;
}

.text {
    margin: 0;
    font-size: 13px;
    color: #666666;
    font-family: "Trebuchet MS";
    line-height: 1.5em;
    margin-left: 15px;
    width: 330px;
    height: 61px;
    padding-top: 10px;
}
.contacts {
    height: 305px;
    width: 50%;
    padding-left: 188px;
}

.contacts address {
    font: 600 14px/30px 'Open_Sans', sans-serif;
    color: #666;
    padding-left: 60px;
}



.address {
    margin-top: 40px;
    height: 35px;
    background: url(images/sprite_vertical.png) -15px -10px no-repeat;
}

.phone {
    margin-top: 10px;
    background: url(images/sprite_vertical.png) -15px -59px no-repeat;
}

.mail {
    margin-top: 10px;
    background: url(images/sprite_vertical.png) -15px -105px no-repeat;
}

.fb, .twitter, .in {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    height: 46px;
    width: 46px;
}

.fb {
    background: url(images/sprite_horizontal.png) 0 0 no-repeat;
}

.twitter {
    background: url(images/sprite_horizontal.png) -51px 0 no-repeat;
}

.in {
    background: url(images/sprite_horizontal.png) -100px 0 no-repeat;
}

footer {
    height: 94px;
    width: 100%;
    background-color: #3070a8;
    text-align: center;
    font: 14px/30px 'Open_Sans', sans-serif;
    color: #fff;
    padding-top: 10px;
}

footer span {
    font-weight: 700;
}

footer a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
#GMapContainer {

    width: 700px;
    height: 345px;
    background-color: #CCC;
    position: relative;
    float: right;
}
