body {
    font: 14px Arial, sans-serif;
}

#red,#green,#blue

{
    display: none;
}
#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue

{
    display: none;
}
span
{
    padding:3px 8px;
    color:#fff;
    font-weight: bold;
    border-radius:5px;
}

.red
{
    background-color: red;
}
.green
{
    background-color: green;
}
.blue
{
    background-color: blue;
}
label
{
    margin-right: 35px;
}
label:first-of-type
{
    margin-left:10px;
}

label[for="red"]
{
    color: red;
    border-bottom: 1px solid red;
}
label[for="green"]
{
    color: green;
    border-bottom: 1px solid green;
}
label[for="blue"]
{
    color: blue;
    border-bottom: 1px solid blue;
}
#red ~ .red {display: none;}
#red ~ label[for=red] {
    opacity: 0.5
}
#red:checked ~ .red {display: inline;}
#red:checked ~ label[for=red] {
    opacity: 1;
}
#green ~ .green {display: none;}
#green ~ label[for=green] {
    opacity: 0.5
}
#green:checked ~ .green {display: inline;}
#green:checked ~ label[for=green] {
    opacity: 1;
}
#blue ~ .blue {display: none;}
#blue ~ label[for=blue] {
    opacity: 0.5
}
#blue:checked ~ .blue {display: inline;}
#blue:checked ~ label[for=blue] {
    opacity: 1;
}
span {
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
.red {
    background-color: #f00;
}
.blue {
    background-color: #00f;
}
.green {
    background-color: #0f0;
}
