h1 {
    text-align: right;
    color: #FFBF00;
}
em {
    background-color: green;
    color: white;
}
p:first-letter {
    color: red;
    font-size: 2.0em;
}
.plants-list ul {
    font-weight: bold
}
.plants-list ul ol {
    font-weight: normal
}

#allotment h2 {
    color: orange;
}
#warehouse h2 {
    color: blue;
}
#allotment .fruits-list li {
    color: grey;
}
.fruits-list {
    color: green;
}
.fruits-list {
    color: green;
}
.vegetables-list {
    color: red;
}
.students-table tbody td:first-child {
    color: orange
}
.students-table tbody td + td {
    background-color: green;
    color: white;
    text-align: center;
}
.students-table {
    font-weight: bold;
}
