h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 16px;
    text-align: center;
    color: darkslategrey;
    text-transform: uppercase;
}
.container-left,
.container-right,
.container-center {
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}


.container-left {
    left: 0;

}
.container-center {
    left: 50%;
    z-index: 100;
}
.container-right {
    right: 0;
}