.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

/*price box*/

.price_box h3,
.price_box ul,
.price_box button {
    margin: auto;
    border: 0;
    padding: 0;
}
.price_box {
    -webkit-box-sizing: border-box; /*for Safari and Chrome*/
    -moz-box-sizing: border-box; /*for Firefox*/
    box-sizing: border-box; /*for IE and Opera*/
    min-width: 290px;
    min-height: 460px;
    border-radius: 5px;
    border: 4px solid #ee8129;
    overflow: hidden;
    box-shadow: 0px 0px 12.90px 0.15px rgba(8, 116, 178, 0.3);
}
.orange {
    background-color: #ee8129;
}
.price_box_head {
    margin-bottom: 0;
    min-height: 70px;
}
.price_box_head h3 {
    color: white;
    font: 700 24px / 68px 'Trebuchet MS';
    text-align: center;
    text-transform: uppercase;
}
.price_box_body h3 {
    color: darkslategrey;
    font: 400 24px / 68px 'Trebuchet MS';
    text-transform: uppercase;
}
.price_box_body {
    background-color: white;
    min-height: 355px;
    padding-bottom: 35px;
}

/*price box main text*/

.price_box_text {
    font-family: 'Trebuchet MS';
    color: darkslategrey;
    text-align: center;
}
.price_box_text_sup {
    display: inline;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.8px;
    position: relative;
    bottom: 35px;
}
.price_box_text_big {
    display: inline;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -3.6px;
}
.price_box_text_sub {
    display: inline;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: 5px;
}

/*price box list*/

.price_box_list {
    margin: 10px 14px 18px 14px;
    color: darkgray;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: left;
}
.price_box_list li {
    list-style: none;
    background-color: #E6E6E6;
    min-width: 260px;
    margin: 1px;
    padding: 8px 0 8px 0;
}
.price_box_list li span {
    padding-left: 26px;
    margin-left: 33px;
    background: url(https://easterislandtraveling.com/images/misc/status-check-green-10x10.png) 0 0 no-repeat;
}
.price_box_list .text_uppercase {
    text-transform: uppercase;
}

.price_box_list li:nth-child(even) {
    background-color: #f5f5f6;
}

/*button*/

.price_box_button {
    display: block;
    width: 253px;
    height: 38px;
    box-shadow: 0px 3px 0px 0px #b3560b;
    -webkit-box-shadow: 0px 3px 0px 0px #b3560b;
    -moz-box-shadow: 0px 3px 0px 0px #b3560b;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.price_box_button:active {
    -webkit-box-shadow: inset 2px 2px 0px 1px rgba(179, 86, 11, 1);
    -moz-box-shadow: inset 2px 2px 0px 1px rgba(179, 86, 11, 1);
    box-shadow: inset 2px 2px 0px 1px rgba(179, 86, 11, 1);
}
.price_box_button:hover {
    cursor: pointer;
}