@import url(http://fonts.googleapis.com/css?family=Lato);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.portfolio {
    padding: 20px 0;
    background: #f6f9f9;
}

h1 {
    font-size: 41px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    color: #2e3a50;
}


h4 {
    font-size: 15px;
    display: block;
    margin-bottom: 50px;
    text-align: center;
    color: #909090;
}

.sketches {
    max-width: 1170px;
    margin: 0 auto;
}

.pic {
    position: relative;
    display: inline-block;
    width: 360px;
    height: 260px;
    margin: 0 15px 30px;
}

.image {
    display: block;
    width: 360px;
    height: 260px;
}


.pic_scale,
.pic_link {
    font-size: 1.4em;
    position: absolute;
    top: 110px;
    width: 40px;
    height: 40px;
    padding-top: .4em;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: all .5s;
}

.pic_scale {
    left: 130px;
}

.pic_link {
    right: 130px;
}

.pic_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all .5s;
    opacity: 0;
    background: rgba(21,164,250, .8);
}

.pic:hover .pic_hover {
    height: 100%;
    opacity: 1;
}

.pic_scale:hover,
.pic_link:hover {
    color: #162f4e;
    border-color: transparent;
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    background-color: rgba(255,255,255, 1);
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: fixed;
    z-index: 10;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    width: 1028px;
    height: 768px;
    margin: 0 auto;
    -webkit-transition: all ease-in .5s;
    transition: all ease-in .5s;
    opacity: 0;
    border: 2px solid #999;
    border-radius: 5px;
}

.overlay:target + .popup {
    top: 10%;
    visibility: visible;
    opacity: 1;
}

.close {
    position: absolute;
    z-index: 99;
    top: -20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #15a4fa;
}

.close:before {
    font-size: 2em;
    position: absolute;
    top: 2px;
    left: 12px;
    content: 'x';
    color: #fff;
}

.close:hover {
    background: #fa4b15;
}

@media (max-width: 1170px) {
    .sketches {
        width: 780px;
    }
}

@media (max-width: 780px) {
    .sketches {
        width: 390px;
    }
}
