@font-face {
    font-family: "Futura_Md_BT_Medium"; src: url("fonts/Futura_Md_BT_Medium.ttf");
}
@font-face {
    font-family: "Open_Sans"; src: url("fonts/Open_Sans.ttf");
}
@font-face {
    font-family: "futura-t-light"; src: url("fonts/futura-t-light.ttf");
}
@font-face {
    font-family: "futura-md-bt-bold"; src: url("fonts/futura-md-bt-bold.ttf");
}

@font-face {
    font-family: "futura-t-med-italic"; src: url("fonts/futura-t-med-italic.ttf");
}

header {
    height: 116px;
    width: 1024px;
    margin: auto;
    position: relative;
}

.header_fixed{
    margin-left: auto;
    width: 1024px;
}
.company_name {
    margin: auto;
    font-family: 'Futura_Md_BT_Medium', sans-serif;
    font-size: 36px;
    line-height: 0.833;
    text-align: left;
    padding-top: 50px;
    float: left;
}

.company {
    color: rgb(238, 129, 41);
    font-weight: lighter;
}

.name {
    color: #3070a8;
    text-transform: uppercase;
    font-weight: bold;
}
.company_name:hover {
    cursor: pointer;
}
nav {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    font-family: 'Open_Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #989898;
    padding: 0 15px;
    padding-bottom: 16px;
    border-bottom: 4px solid #fff;
}

nav ul li:hover {
    border-bottom: 4px solid #3070a8;
    color: #3070a8;
    margin-bottom: -4px;
    cursor: pointer;
    transition: color 0.2s linear, border 0.2s linear;
}
.banner {
    height: 580px;
    background: url("images/main_banner.png") no-repeat 50%;
    background-position: 0 0;
    text-align: center;
    padding-top: 145px;
    color: #fff;
}

.banner h2, .banner h1, .banner p {
    margin: 0;
}

.banner h2 {
    font-family: 'futura-t-light', sans-serif;
    font-size: 36px;
    margin-top: 0;
}

.banner h1 {
    font-family: 'futura-md-bt-bold', sans-serif;
    font-size: 48px;
    margin-top: 10px;
    text-transform: uppercase;
}

.banner p {
    font-family: 'futura-t-med-italic', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 100;
}

.banner_button {
    width: 247px;
    height: 59px;
    margin-top: 35px;
    border: 1px solid #96a8ba;
    font: 600 16px 'Open_Sans', sans-serif;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
}
