@font-face {
    font-family: 'helvetica-regular', sans-serif;
    src: url(fonts/helvetica-regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'arial', sans-serif;
    src: url(fonts/arial.ttf);
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'helvetica-regular', 'arial', sans-serif;
}
.header-wrapper,
.container,
.banner,
.about-text,
.benefits-title,
.wrapper,
.get-started,
#start {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    position: relative
}

/*header*/

body {
    max-width: 1800px;
    min-width: 1000px;
    margin: 0 auto;
}
header {
    width: 100%;
    min-height: 77px;
    color: #ffffff;
    background-color: #3498db;
}

.circle-logo {
    float: left;
    border: 2px solid white;
    font-size: 22px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 10px 2px;
    border-radius: 50px;
    cursor: default;
    text-transform: uppercase;
}
.circle-logo:hover {
    cursor: pointer;
}
h1 {
    text-transform: uppercase;
}

.header-wrapper > h1 {
    float: left;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    padding: 22px 0 20px 20px;
    cursor: default;
}
.header-connect {
    float: right;
    cursor: default;
    font-size: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
}
.header-social-connect {
    float: left;
    padding-top: 3px;
    font-size: 13px;
}
.header-social {
    float: right;
    margin: 0;
    padding-left: 16px;
}
.header-social-button {
    display: inline-block;
}
.header-social-button a {
    color: #3498db;
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 50%;
    text-decoration: none;
    width: 22px;
    height: 22px;
    text-align: center;
    padding-top: 2px;
    transition: color 0.1s, background 0.1s, border 0.1s;
}
.header-social-button a:hover {
    color: #FFFFFF;
    background-color: #d6e8f4;
    border-color: #d6e8f4;
}
.clearfix {
    height: 0;
    content: " ";
    clear: both;
    display: table;
    visibility: hidden;
}

/*banner section*/

.banner {
    padding: 20px 0 0;
    width: 100%;
    background: url(images/1.jpg) no-repeat center;
    height: 351px;
}
.container {
    display: block;
    height: 351px;
}

.banner-title {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;

}

.banner-lead {
    font-size: 30px;
    width: 550px;
    text-align: left;
    color: #fff;
}

/*form*/

.banner-form {
    position: absolute;
    top: -35px;
    right: 0;
    width: 360px;
    height: 535px;
    padding: 30px 20px;
    border-bottom: 5px solid #3498db;
    background: #fff;
    z-index: 5;
}

.banner-form-title {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.form-item {
    font-size: 15px;
    position: relative;
    width: 320px;
    height: 36px;
    margin-top: 10px;
    padding: 5px 15px;
    color: #333;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #f2f2f2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-item:first-child {
    background: url(images/arrow.png) no-repeat #f2f2f2 95%;
}

.form-item:first-child:hover {
    cursor: pointer;
 }

.form-select {
    position: relative;
}

.banner-form:before {
    position: absolute;
    z-index: 99;
    top: 104px;
    right: 30px;
    width: 15px;
    height: 10px;
    content: '';
}

.form-item-big {
    height: 72px;
}

.form-submit {
    font-size: 25px;
    width: 320px;
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
    color: #fff;
    border: 0;
    background: #e74c3c;
}

.form-submit:hover,
.form-submit:active {
    background: #f54c3c;
}

.form-item::-webkit-input-placeholder {
    vertical-align: top;
    color: #333;
}

/*about section*/

.about {
    height: 250px;
    background: #f2f2f2;
    color: black;
}

.about h4 {
    margin: 0;
    padding: 33px 0 0 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.about p {
    margin: 22px 419px 0 0;
    padding: 0;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
}
.about {
    margin: -62px auto;
    padding: 0;
}


/*benefits section*/

.benefits {
    margin: 90px auto 0 auto;
    width: 1000px;
}
.benefits-definition {
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    color: #3498db;
    line-height: 1.68;
    text-align: left;
}
.benefits-blocks {
    text-align: center;
}
.benefit-point {
    display: block;
    width: 300px;
    float: left;
}
.middle-block {
    margin: 0 50px;
}
.benefit-text {
    font-size: 13px;
    color: rgb(51, 51, 51);
    line-height: 1.538;
    margin-bottom: 12%;
}
.benefit-button {
    text-decoration: none;
    border: solid 1px #d6e8f4;
    border-radius: 50%;
    padding: 15px 5px;
    color: rgb(51, 51, 51);
    transition: border 0.2s, background 0.2s;
    text-transform: uppercase;
}
.benefit-button:hover {
    border-color: #d6e8f4;
    background-color: #3498db;
    color: white;
}
.comments {
    width: 100%;
}

/*reviews section*/


.wrapper::after {
    content: " ";
    clear: both;
}
.reviews {
    width: 100%;
    height: 255px;
    text-align: right;
    position: relative;
    margin-top: 75px;
    padding-left: 5px;
}

.reviews p{
    display: inline-block;
    font-size: 13px;
    width: 730px;
    color: #333333;
    line-height: 1.538;
    text-align: left;
    margin: 20px 0 0 0;
}
.reviews cite {
    width: 730px;
}

.reviews h1 {
    font-size: 25px;
    color: rgb(52, 152, 219);
    text-transform: uppercase;
    line-height: 1.68;
    text-align: left;
    display: inline-block;
    float: left;
}

.slider-left {
    background: url(images/slider-left.png);
    height: 44px;
    width: 44px;
    display: inline-block;
    margin-top: 15px;
}

.slider-right {
    background: url(images/slider-right.png);
    height: 44px;
    width: 44px;
    display: inline-block;
}

blockquote {
    margin: 0 300px 0 0;
    width: 730px;
    z-index: 1;
    float: right;
    position: relative;
    top: 32px;
    padding-left: 35px;
}

blockquote::before {
    content: "\201C";
    color: #f2f2f2;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
    margin-top: 10px;
    margin-left: auto;
    display: block;
    position: absolute;
}

blockquote::after {
    content: "\201D";
    color: #f2f2f2;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -.95em;
    margin-right: -35px;
}

blockquote p {
    display: inline;
}

.reviews cite {
    display: inline;
    text-align: right;
    font-style: normal;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 3em;
    margin-right: -21px;
}

/*start section*/

.comments-bottom {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
    height: 191px;
}
.comments-bottom-wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.comments-bottom-button {
    width: 540px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #e74c3c;
    font-size: 22px;
    display: inline-block;
    padding: 16px 20px 16px 0;
    transition: background 0.1s;
    border: hidden;
}
.comments-bottom-button:hover {
    background-color: #f54c3c;
    cursor: pointer;
}
.comments-bottom-button:after {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 480px;
    content: "\003e";
    margin: 1px 0 0 -5px;
    padding: 1px 0 0 -28px;
}
.comments-bottom-pic {
    position: absolute;
    top: -233px;
    right: 28px;
}

/*footer*/

.footer {
    width: 100%;
    color: #ffffff;
    background-color: #3498db;
}
.footer-wrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 130px;
}
.footer-home-link {
    display: block;
    float: left;
    border-right: 1px solid #2980b9;
    padding-right: 34px;
}

.footer-home-link h4 {
    width: 220px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 400;
    padding-left: 62px;
    margin: 0;
    padding-top: 12px;
    text-transform: uppercase;
}
.footer-connect {
    margin: 0;
    float: left;
    padding-left: 30px;
    padding-top: 16px;
}
.footer-social-connect {
    float: left;
    padding-top: 3px;
    font-size: 13px;
}
.footer-social {
    margin: 0;
    float: right;
    padding-left: 10px;
}
.footer-social-button {
    display: inline-block;
}
.footer-social-button a {
    color: #3498db;
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 50%;
    text-decoration: none;
    width: 22px;
    height: 22px;
    text-align: center;
    padding-top: 2px;
    transition: color 0.1s, background 0.1s, border 0.1s;
}
.footer-social-button a:hover {
    color: #FFFFFF;
    background-color: #d6e8f4;
    border-color: #d6e8f4;
}
.signature {
    float: left;
    margin: 0;
    padding-top: 6px;
    padding-left: 30px;
    font-size: 13px;
}



/*tablet*/

@media (max-width: 1000px) and (min-width: 800px){
    body {
        width: 100%;
        max-width: 1000px;
        min-width: 800px;
    }
    .header-wrapper {
        width: 766px;
        margin: 0 auto;
    }
    .container {
        width: 766px;
        margin: 0 auto;
    }
    .banner-form {
        width: 47%;
        top: -30px;
    }
    .form-item {
        width: 320px;
    }
    .form-item-big {
        height: 72px;
    }
    .form-submit {
        width: 320px;
        margin-top: 22px;
    }
    .banner-title {
        margin-top: 60px;
        font-size: 42px;
    }
    .banner-lead {
        font-size: 25px;
        line-height: 1.5;
        width: 50%;
    }
    .about {
        margin-top: -81px;
    }
    .about-text {
        width: 766px;
        margin: 0 auto;
    }
    .about-text p {
        width: 50%;
    }

    .benefits {
        margin: 80px auto 0 auto;
        width: 766px;
    }
    .benefits-block {
        float: none;
        width: 20%;
    }
    .middle-block {
        margin: 0;
    }
    .benefit-pic {
        float: left;
        padding-right: 20px;
    }
    .benefit-description,
    .benefit-text {
        text-align: left;
    }
    .benefit-description {
        text-transform: uppercase;
    }
    .benefit-text {
        margin-bottom: 10px;
    }
    .benefit-point {
        float: none;
        width: 100%;
    }
    .benefit-button {
        float: left;
        font-size: 12px;
        padding: 11px 5px;
    }
    .reviews {
        width: 766px;
        margin: 30px auto;
    }
    .wrapper {
        width: 766px;
        margin: 0 auto;
    }
    blockquote {
        width: 530px;
        margin-left: 50px;
        margin-top: -30px;
    }
    blockquote::before {
        margin-right: 6.2em;
        vertical-align: -5.4em;
        margin-top: 10px;
        margin-left: 25px;
    }
    blockquote::after {
        margin-top: 10px;
        margin-right: -70px;
    }
    .reviews h1 {
        font-weight: lighter;
    }
    .reviews p {
        width: 540px;
        margin-left: 30px;
    }
    .reviews cite {
        width: 100%;
        margin-top: 135px;
        margin-right: -20px;
    }
    .comments-bottom-button {
        padding: 16px 0 16px 50px;
        margin: 0 auto;
    }
    .comments-bottom {
        height: 190px;
    }
    .comments-bottom-wrapper {
        width: 766px;
        margin: 0 auto;
    }
    .comments-bottom-button {
        font-size: 19px;
        width: 470px;
        padding-top: 17px;
    }
    .comments-bottom-button:after {
        left: 422px;
        top: 15px;
        width: 25px;
        height: 25px;
        border: 2px solid #fff;
        border-radius: 50%;
        position: absolute;
        content: "\003e";
        margin: 1px 0 0 12px;
        padding: 1px 0 0 -28px;

    }
    .footer-wrapper {
        width: 766px;
        margin: 0 auto;
    }
    .signature {
        width: 60%;
    }
}

/*mobile*/

@media (max-width: 799px) {
    body {
        width: 100%;
        max-width: 799px;
        min-width: 320px;
    }
    .header {
        width: 100%;
        height: 160px;
    }
    .header-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .circle-logo {
        display: block;
        float: none;
        margin: 0 auto 0 47%;
        top: 12px;
        width: 52px;
        height: 52px;
    }
    .header-wrapper > h1 {
        display: block;
        margin: 2px auto;
        float: none;
        text-align: center;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #2980b9;
        width: 300px;
    }
    .header-connect {
        display: block;
        float: none;
        text-align: center;
        width: 135px;
        margin: 0 auto;
        padding: 10px 0 42px 0;
    }
    .header-social-connect {
        padding: 3px 0 0 0;
    }
    .header-social {
        padding: 0;
    }
    .container {
        width: 300px;
        height: 392px;
        margin: 0 auto;
        padding-bottom: 150px;
    }
    .banner {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .banner-title {
        padding: 10px 0 0 0;
        margin: 0 auto;
        text-align: center;
        font-size: 34px;
    }
    .banner-lead {
        width: 300px;
        text-align: center;
        font-size: 16px;
        padding-left: 15px;
        line-height: 25px;
    }
    .banner-form {
        width: 320px;
        left: 0;
        top: 160px;
    }
    .form-item {
        width: 280px;
    }
    .form-submit {
        width: 280px;
    }
    .about {
        height: 680px;
        text-align: center;
    }
    .about-text {
        width: 300px;
        margin: 0 auto;
        padding-top: 370px;
        text-align: center;
    }
    .about-text > h4 {
        width: 100%;
        text-align: center;
    }
    .about-text > p {
        margin-left: 10px;
        width: 100%;
        text-align: center;
    }
    .benefits {
        width: 300px;
        margin: 95px auto 0 auto;
        border-bottom: 1px solid #EBEBEB;
    }
    .benefit-description {
        text-transform: uppercase;
        font-size: 18px
    }
    .benefits-definition {
        text-align: center;
    }
    .benefit-point {
        float: none;
        margin: 0 0 40px 0;
    }
    .reviews {
        width: 300px;
        margin: 0 auto;
        height: 500px;
    }
    .reviews h1 {
        font-weight: lighter;
        font-size: 22px;
        text-align: center;
        margin-top: 30px;
    }
    .wrapper {
        margin: 0 auto;
        text-align: center;
        width: 300px;
        padding-bottom: 166px;
        padding-top: 0;
        height: 575px;
    }
    blockquote {
        width: 100%;
        float: none;
        text-align: left;
        z-index: 5;
        margin-left: -25px;
    }
    .reviews p {
        width: 100%;
        text-align: justify;
    }
    .reviews cite {
        width: 100%;
        margin-top: 155px;
        margin-right: 75px;
    }
    blockquote::before {
        margin-right: 5.2em;
        vertical-align: -5.4em;
        margin-top: 10px;
        margin-left: auto;
    }
    blockquote::after {
        margin-top: 10px;
        margin-right: -50px;
    }
    .reviews-arrow {
        margin: 0 auto;
        display: block;
        text-align:center;
    }

    .comments-bottom-wrapper {
        width: 300px;
        margin: 0 auto;
    }
    .comments-bottom {
        padding-top: 54px;
        padding-bottom: 54px;
    }
    .comments-bottom-button {
        width: 100%;
        z-index: 1;
        position: relative;
        text-align: center;
        padding: 5px 25px 60px 25px;
        font-size: 20px;
        line-height: 1.45;
    }
    .comments-bottom-button:after {
        width: 20px;
        height: 20px;
        left: 145px;
        top: 78px;
        padding: 0 0 2px 0;
    }
    .comments-bottom-pic {
        top: -225px;
        right: 30px;
    }
    .footer-wrapper {
        width: 300px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .footer-home-link {
        float: none;
        margin: 0 auto;
        padding-right: 0;
        border-right: none;
    }
    .circle-logo {
        float: none;
        margin: 0 auto;
        width: 53px;
    }
    .footer-home-link h4 {
        display: inline;
        float: none;
        margin: 10px auto 0 auto;
        padding: 0 0 8px 0;
        width: 184px;
        border-bottom: 1px solid #2980b9;
        line-height: 52px;
    }
    .footer-connect {
        float: none;
        margin: 15px auto;
        padding: 10px 0 50px 0;
        width: 146px;
    }
    .signature {
        width: 90%;
        padding: 0;
        text-align: center;
        display: block;
        float: none;
        margin: 0 auto;
    }
}