.item-list {
    width:480px;
}
ul, p{
    font-family: arial;
    font-size: 12px;
    margin: 10px;
    height: 40px;
    padding-top: 15px;
}
.pager{
    width: 100%;
    background: #ffffff;
    list-style: none;
    border-color: #D8D8D8;
}

li{
    display: inline-block;
    width: 40px;
    text-align: center;
    padding: 3px 0;
}
a{
    text-decoration: dashed;
    color: #9933FF;
}
.pager li:nth-child(8) {
    background: #9933FF;
}
.pager .active a {
    color:white;
}

.pager-prev:before {
    content: "\00ab";
    font-size: 14px;
    position: relative;
    bottom: 1px;
    vertical-align: middle;
    color: #9933FF;
}

.pager-next:after {
    content: "\00bb";
    font-size: 14px;
    position: relative;
    bottom: 1px;
    vertical-align: middle;
    color: #9933FF;
}
.pager-item, .active {
    border: 1px solid;
    border-radius: 5px;
    height: 15px;
    width: 23px;
    border-color: #dddddd;
}