.menu-wrapper {
    text-align: justify;
    background: #fff;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.menu-wrapper ul {
    text-transform: uppercase;
    background: #bb74ff;
    color: #fff;
    width: 900px;
    margin: auto;
    padding: 0px;
    box-shadow: 0px 1px 10px #EEEEEE, 0px -1px 10px #EEEEEE;
    text-align: justify;
    list-style-type: none;
}
.menu-wrapper li {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    font-family: Impact;
    margin-left: 50px;
}
.menu-wrapper a {
    text-decoration: none;
    color: #fff;
    margin-right: -40px;
}

.menu-wrapper a:hover {
    color: #A0A0A2;
    background-color: #EEEEEE;
    box-shadow: 0 1px 0 0 #E2E2E2;
    transition: all 0.3s ease;
    padding: 10px;
}



.menu-wrapper .right {
    float: right;
    background: #bb74ff;
    margin-right: 90px;
}